.franchise__tittle {
    text-align: center;
}
.franchise{
    padding: 0 0 100px 0;
}
.franchise__tittle h1 {}

.header__feedback-btn button {
    border-radius: 20px;
    border: none;
    font-weight: 100;
    background-color: #D72B1D;
    height: 50px;
    width: 195px;
    font-size: 14px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}