.franchise__tittle {
    text-align: center;
}
.franchise{
    padding: 0 0 100px 0;
}

.header__feedback-btn a {
    padding: 20px 20px;
    border-radius: 20px;
    font-weight: 100;
    text-decoration: none;
    background-color: #D72B1D;
    height: 50px;
    max-width: 195px;
    font-size: 20px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.franchise__navbar-items{
    margin-top: 5%;

}
@media (max-width: 838px){
    .franchise__navbar{
        flex-wrap: wrap;
    }
    .franchise__navbar-items{
        margin-bottom: 10%;
        margin-top: 5%;

    }
}