.cateringBusiness {
    padding: 50px 20px 50px 20px;
    display: flex;
    justify-content: flex-end;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(27, 27, 27, 1) 90%);
}

.cateringBusiness__info-tittle p {
    font-size: 48px;
    color: #fff;
}

.cateringBusiness__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.cateringBusiness__info {
    width: 50%;
}

.cateringBusiness__info-btn {
    margin-top: 50px;
}

.cateringBusiness__info-btn button {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 18px 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 13px;
    color: #010101;
}

.cateringBusiness__info-taildoun {
    margin-top: 30px;
}

.cateringBusiness__info h1 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 119.7%;
    /* or 57px */
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.cateringBusiness__info-subtittle p {
    color: #FFFFFF;
}

.cateringBusiness__slide-items {
    display: flex;
}

.cateringBusiness__slide-item {
    margin: 20px;
}

.cateringBusiness__slide-item img {
    width: 99%;
    height: 99%;
}

@media (max-width: 1125px) {
    .cateringBusiness__info-tittle p {
        font-size: 38px;
        color: #fff;
    }
}

@media (max-width: 991px) {
    .cateringBusiness__info-tittle p {
        font-size: 30px;
        color: #fff;
    }
}

@media (max-width: 822px) {
    .cateringBusiness__info-tittle p {
        font-size: 25px;
        color: #fff;
    }
    .cateringBusiness__info-btn button {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 12px 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 13px;
        color: #010101;
    }
}

@media (max-width: 766px) {
    .cateringBusiness__info-tittle p {
        font-size: 20px;
        color: #fff;
    }
    .cateringBusiness__info-btn button {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        color: #010101;
    }
    .cateringBusiness__slide-item {
        margin: 5px;
        margin-right: 0;
    }
    .cateringBusiness__slide-item img {
        width: 90%;
        height: 89%;
    }
}

@media (max-width: 822px) {
    .cateringBusiness__info-tittle p {
        font-size: 25px;
        color: #fff;
    }
    .cateringBusiness__info-btn button {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 12px 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 13px;
        color: #010101;
    }
}

@media (max-width: 666px) {
    .cateringBusiness__info-tittle p {
        font-size: 15px;
        color: #fff;
    }
    .cateringBusiness__info-btn button {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        color: #010101;
    }
    .cateringBusiness__slide-item {
        margin-right: 0;
    }
    .cateringBusiness__slide-item img {
        width: 80%;
        height: 90%;
    }
    .cateringBusiness {
        padding: 50px 5px 50px 5px;
    }
}

@media (max-width: 600px) {
    .cateringBusiness__slide {
        display: none;
    }
    .cateringBusiness__info {
        width: 100%;
    }
    .cateringBusiness {
        justify-content: center;
    }
    .cateringBusiness__info-tittle p {
        font-size: 25px;
        color: #fff;
    }
    .cateringBusiness__info-btn button {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        color: #010101;
    }
}